<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <!-- Link para Usuários (apenas para professores) -->
            {% if 'user_id' in session and session['user_tipo'] == 'Professor' %}
                <li><a class="menu__item" href="http://127.0.0.1:5000/">Usuários</a></li>
            {% endif %}
            
            <!-- Link para adicionar ou remover Livros (apenas para professores) -->
            {% if 'user_id' in session and session['user_tipo'] == 'Professor' %}
                <li><a class="menu__item" href="{{ url_for('books') }}">Livros</a></li>
            {% endif %}
            
            <!-- Se o usuário não estiver logado, mostrar Login e Registrar -->
            {% if 'user_id' not in session %}
                <li><a class="menu__item" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="menu__item" href="{{ url_for('register') }}">Registrar</a></li>
            {% else %}
                <!-- Mostrar Olá e Logout para usuários logados -->
                <li><span class="menu__item">Olá, {% if session['user_tipo'] == 'Professor' %}Professor {% endif %}{{ session['user_nome'] }}!</span></li>
                <li><a class="menu__item logout-button" href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>

    <h2>Login</h2>
    <form method="POST">
        E-mail: <input type="email" name="email" required><br>
        Senha: <input type="password" name="senha" required><br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>